.page_container {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flow-root;
    box-sizing: border-box;
}

.content_top_section {
    display: block;
}


.table_section {
    width: 100%;
    height: calc(100% - 81px);
    overflow-y: auto;
    position: relative;
    border-top: 1px solid #000;
    border-bottom: 4px solid #000;
}

.data_table {
    width: 100%;
}

.data_table {
    width: 100%;
    border-collapse: collapse;
}

.data_table thead {
    position: sticky;
    top: -1px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.4)
}

.data_table th,
.data_table td {
    border: 1px dashed #ddd;
    padding: 3px 10px;
    text-align: center;
}

.data_table th {
    background-color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 4px solid #000;
    line-height: 14px;
}


.data_table td {
    font-size: 12px;
}

.data_table tbody tr:nth-child(odd) {
    background-color: #e0ffff63;
}

.floating_point {
    font-size: 10px;
}


.filter_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}



.filter_item {
    position: relative;
}

.filter_double {
    width: 200px;
    height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter_count_sec {
    width: 100px;
    height: 24px;
    padding: 0 5px;
    font-size: 12px;
    background-color: #00ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlap_label {
    position: absolute;
    top: -12px;
    font-size: 8px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}


.filter_select {
    width: 140px;
    height: 32px;
    border: 1px solid #000;
    font-size: 14px;
}

.filter_select:focus-visible {
    outline: none;
}

.statement_section {
    width: calc(100% - 503px);
    margin: 0;
}

.statement_select {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DDFFFF;
    border: 1px solid #0000002b;
    padding: 0 15px;
    cursor: pointer;
}

.filter_submit {
    width: 140px;
    height: 32px;
    border: none;
    font-size: 14px;
    background-color: #DDFFFF;
    cursor: pointer;
}

.double_download {
    width: 50px;
    height: 32px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}